.hidden {
    display: none;
}

:root {
    --navy-blue: #2e2f42;
    --light-slate: #8e8f99;
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --cloud: #f4f4fd;
    --footer-text-color: #ffffff;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

/* reset */
ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* common */

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

@media screen and (min-width: 768px) {
    .container {
            max-width: 768px;
            margin: 0 auto;
            padding: 0 16px;
    }
}